<!-- <p>flipkart-api works!</p> -->

<div class="parent" >
    <div class="container" *ngFor="let vishnu1 of vishnu">
        <div class="top">
            <span><img class="img" src="{{vishnu1.image}} " alt=""> </span>         
        </div>
    <div class="bottom">          
        <div class="bottom1">
            <b> {{vishnu1.category}} </b><br>
        </div>
        <div class="bottom2">
            <span>Rs.{{vishnu1.price}}</span>
        </div>
        <div class="bottom3">
            {{vishnu1.title}}
            
        </div>
        <div claaa="botton4">{{vishnu1.count}}</div>
    </div>
    </div>
    
</div>
