<!-- <p>employee works!</p> -->
<label for="">Employee Name</label>
<input type="text" [(ngModel)]="name"><br>
<label for="">Employee Experience</label>
<input type="text" [(ngModel)]="experience"><br>
<label for="">Employee Package</label>
<input type="text" [(ngModel)]="package"><br>
<label for="">Employee Role</label>
<input type="text" [(ngModel)]="empRole"><br>

<button (click)="create()">Create Employee</button><br><br>

<button (click)="reduce()">Cost to Company</button><br>

<input type="text" placeholder="Enter the value to search" [(ngModel)]="term" (keyup)="search()"><br>

<button (click)="map()">Add 30K Hike</button> <br>

<button (click)="sort()">Package Low to High</button><br>

<select [(ngModel)]="role" (change)="filter()">
    <option>UIDeveloper</option>
    <option>Software Developer</option>
    <option>Data engineer</option>
    <option>Testing Engineer</option>
</select>

<table border="1" [cellPadding]="10" [cellSpacing]="0">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees;let i=index">
            <td>{{i+1}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td>
                <button (click)="delete(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
