<p>create-account works!</p>

<form  [formGroup]="accountForm">
    <label>Account_Name:</label>
    <input type="text" formControlName="account_name" appCapital><br>
    <label>Account_Number:</label>
    <input type="number" formControlName="account_number"><br>
    <label>Available_Balance:</label>
    <input type="number" formControlName="available_balance"><br>
    <label>City:</label>
    <input type="text" formControlName="city"><br>   
    <label>Ifsc_Code:</label>
    <input type="number" formControlName="ifsc_code"><br>
    <button class="btn btn-info" (click)="create()">Create Account</button>
</form>