.parent{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
.container{
    width: 40%;
    height: 100%;
    background-color: rgb(5, 5, 41);
    color: aliceblue;
    overflow: auto;
}
.content{
    margin-left: 20px;
}
input{
    margin-left: 50px;
}
button{
   margin-left: 80px;

}