
<div class="parent">
    <div class="container">
        <div class="content">

<form [formGroup]="userForm">
    <br>
    <label>Name:</label>
    <input type="text" formControlName="name"><br><br>
    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name is Required</p>
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name should be minimum 6 characters</p>
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name should be maximum 12 characters</p>
    </div>
    <label>Email:</label>
    <input type="email" formControlName="email"><br><br>

     <!-- This div is we used for custom validators  -->
    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <p *ngIf="userForm.get('email')?.errors?.['required']">email is Required</p>
        <p *ngIf="userForm.get('email')?.errors?.['minlength']">email should be minimum 6 characters</p>
        <p *ngIf="userForm.get('email')?.errors?.['maxlength']">email should be maximum 12 characters</p>
        <p *ngIf="userForm.get('email')?.errors?.['GoogleMail']">Please eneter GoogleMail</p>
    </div>
    <!-- ............................................................. -->
    <label>Password:</label>
    <input type="text" formControlName="password"><br><br>
    <label>Mobile:</label>
    <input type="number" formControlName="mobile"><br><br>


    <div formGroupName="address">
        <label>City:</label>
        <input type="text" formControlName="city"><br><br>
        <label>State:</label>
        <input type="text" formControlName="state"><br><br>
        <label>Pincode:</label>
        <input type="number" formControlName="pincode"><br><br>
    </div>
    <label>Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholar"> 
    <label>Day Scholar</label>
    <input type="radio" name="type" formControlName="type" value="residential"> 
    <label>Residential</label><br><br>

    <div *ngIf="userForm.get('type')?.value=='dayScholar'">
        <label>Bus Fee:</label>
        <input type="number" formControlName="busFee"><br>
    </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
        <label>Hostel Fee:</label>
        <input type="number" formControlName="hostelFee"><br>
    </div>

    <button (click)="submit()" class="btn btn-info">Submit</button><br><br>

    <label>Cards:</label>
    <button (click)="addcard()" class="btn btn-warning">Add Card</button><br><br>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                <h2>card{{i+1}}</h2>
                <label>Number:</label>
                <input type="number" formControlName="number"><br>
                <label>Expiry:</label>
                <input type="month" formControlName="expiry"><br>
                <label>CVV:</label>
                <input type="number" formControlName="cvv"><br>
                <button (click)="deletecard(i)" class="btn btn-danger">Remove Card</button>
            </div>
        </div>
    </div>
</form>
</div>
</div>
</div>