<div class="parent">
    <div class="container">
<form  [formGroup]="userForm">
    <label>Name:</label>
    <input type="text" formControlName="name"><br><br>
    <label>Class:</label>
    <input type="text"  formControlName="class"><br><br>
    <label>Father Name:</label>
    <input type="text"  formControlName="fathername"><br><br>
    <label>Email:</label>
    <input type="email"  formControlName="email"><br><br>
    <label>DOB:</label>
    <input type="dob"  formControlName="dob"><br><br>
    <div formGroupName="address">
        <label>AddressLine</label>
        <input type="text" formControlName="addressline"><br><br>
        <label>city</label>
        <input type="text" formControlName="city"><br><br>
        <label>state</label>
        <input type="text" formControlName="state"><br><br>
        <label>pincode</label>
        <input type="number" formControlName="pincode"><br><br>
    </div>
    <div class="radio">
    <label>Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholar"> 
    <label>Day Scholar</label>
    <input type="radio" name="type" formControlName="type" value="residential"> 
    <label>Residential</label><br><br>
    </div>
    <div *ngIf="userForm.get('type')?.value=='dayScholar'">
        <label>Bus Fee:</label>
        <input type="number" formControlName="busFee"><br>
    </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
        <label>Hostel Fee:</label>
        <input type="number" formControlName="hostelFee"><br>
    </div>
    
    <button id="submit_button" class="btn btn-info" (click)="submit()">Submit</button><br>
    <div class="addcards">
    <label><b>Cards:</b></label>
    <button (click)="addcard()" class="btn btn-warning">Add Card</button><br><br>
    </div>
    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                <h2>card{{i+1}}</h2>
                <label>Class:</label>
                <input type="number" formControlName="class"><br>
                <label>Year:</label>
                <input type="year" formControlName="year"><br>
                <label>Percentage:</label>
                <input type="number" formControlName="percentage"><br>
                <button (click)="deletecard(i)" class="btn btn-danger">Remove Card</button>
            </div>
        </div>
    </div>
    
</form>
</div>
</div>