<div class="parent">
    <div class="left">
        <h1>My website</h1>
        <br>
        <br>
        <hr>
        <h3 routerLink="Home">Home</h3>
        <h3 routerLink="login">Login</h3>
        <h3 routerLink="sibling1">Sibling-1</h3>
        <h3 routerLink="parent">Parent</h3>
        <h3 routerLink="Welcome">Welcome</h3>
        <h3 routerLink="Data-Binding">Data-Binding</h3>
        <h3 routerLink="Calculator">Calculator</h3>
        <h3 routerLink="Rectangle">Rectangle</h3>
        <h3 routerLink="Circle">Circle</h3>
        <h3 routerLink="BMI">BMI</h3>
        <h3 routerLink="simple-interest">simple-interest</h3>
        <h3 routerLink="Directives">Directives</h3>
        <h3 routerLink="employee">Employee</h3>
        <h3 routerLink="flipkart">flipkart</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="accounts">Accounts</h3>
        <h3 routerLink="flipkart-api">Flipkart-api</h3>
        <h3 routerLink="student">Student</h3>
        <h3 routerLink="create-user">Create-User</h3>
        <h3 routerLink="student-data">Student-Data</h3>
        <h3 routerLink="dammy">Dammy</h3>
        <h3 routerLink="life-cycle">Life-cycle</h3>
        
        
        <hr>
        <br><br><br>
        <button>Logout</button>
    </div>
    <div class="right">  
        <router-outlet></router-outlet>   <!-- to display the child routing  -->        
    </div>
</div>
