.parent{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;    
}
.left{
    width: 20%;
    height: 100%;
    background-color:black;
    text-align: center;
    color: white;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;    
}
.right{
    width: 80%;
    height: 100%;
    overflow: auto;    
    background-color: darkcyan;
}
hr{
    width: 100%;    
}

 