.parent{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    
}
.left{
    width: 20%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;overflow: auto;
   
    
}
.right{
    width: 80%;
    height: 100%;
    background-color: blueviolet;overflow: auto;
    
    /* background-repeat: no-repeat; */
}
hr{
    width: 50%;
    
}
 